/*Reset, tipografías y variables*/
@import "./base/typo";
@import "./base/variables";

/*Secciones compartidas*/
@import "./layout/footer";
@import "./layout/header";

/*Estilos HTML*/
@import "./views/consultas";
@import "./views/index";
@import "./views/tiendas";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: font-regular;
}

.pt-7 {
  padding-top: 7rem !important;
}