/*Estilo Footer*/

.footer{
    background-color: $backFooter;
    color: white;
}

.socialIcon{
    color:white;
  }

  .logoFooter{
    border-radius: 110px 1px 110px 1px;
    border: solid $colorVerde;
}