/*Navbar*/
.bg-light2 {
    background-color: white;
    opacity: 1;
}

.logoNav{
    border-radius: 30px 1px 30px 1px;
    border: solid #BADA55 2px;
}

.navLink{
    position: relative;
    padding-bottom: 0px;
}

.navLink::before{
    content: "";
    height: 3px;
    width: 0%;
    background-color: #BADA55;
    position: absolute;
    left: 0px;
    bottom: -0.2rem;
    transition: .4s ease-out;
}

.navLink:hover::before{
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .navLink:hover::before{
        width: 0%;
    }
}

