.list-group-item.active{
    border-color: rgba(0,0,0,.1);
    color: black;
    background-color: rgba(0,0,0,.1);
}

.backgroundPreguntas{
    background-color: rgba(0,0,0,.1);
}

.form-control{
    background-color: rgba(0,0,0,.1);
}

.imagenConsulta{
    height: 375px;
    width: 500px;
}

.imagenLista{
    height: 110px;
    width: 150px;
}